<% title t('.title') %>
<div class="page">

  <table>
    <thead>
      <tr>
        <td style="width: 10em;">Fondo</td>
        <td>Título</td>
        <td>Nombre (y dirección)</td><td/>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group|  %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= link_to 'Ver', group.bg_url %>
            (<%= group.bg_width %>x<%= group.bg_height%> px)
          </td>
          <td><%= link_to group.title, [:admin, group] %></td>
          <td><%= link_to("/#{group.name}", "/#{group.name}")  %></td>
          <td class="actions">
            <%= link_to 'Ver imágenes', admin_group_path(group) %>
            <%#= link_to 'Editar', edit_admin_group_path(group) %>
            <%= link_to 'Ver en la web', "/#{group.name}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>